{% load static %}

<!DOCTYPE html>
<html>
<title>Ponto de Venda - Ideias Mais Criativas</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script src="{% static 'js/gerarPdf.js' %}"></script>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-gray">

<!-- Top container -->
<div class="w3-bar w3-top w3-blue-gray w3-large" style="z-index: 4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> </button>
  <a style="cursor: pointer;" href="{% url 'logout' %}" class="w3-bar-item w3-right"><i class="fa fa-sign-out"></i>&nbsp&nbspSair</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey w3-border-right" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <h3><a href="{% url 'index' %}" class="w3-bar-item w3-button"><i class="fa fa-home fa-fw"></i>&nbsp&nbspPágina Inicial</a></h3>

    <div>
      <a href="{% url 'painel_clientes' %}" class="w3-button w3-block w3-left-align">
        <i class="fa fa-users fa-fw"></i>&nbsp&nbspClientes
      </a>
    </div>

    <div>
      <a href="{% url 'painel_produtos' %}" class="w3-button w3-block w3-left-align">
        <i class="fa fa-product-hunt fa-fw"></i>&nbsp&nbspProdutos
      </a>
    </div>

    <div>
      <a href="{% url 'painel_funcionarios' %}" class="w3-button w3-block w3-left-align">
        <i class="fa fa-users fa-fw"></i>&nbsp&nbspFuncionários
      </a>
    </div>

    <div>
      <a href="{% url 'painel_fornecedores' %}" class="w3-button w3-block w3-left-align">
        <i class="fa fa-bullseye fa-fw"></i>&nbsp&nbspFornecedores
      </a>
    </div>

    <div>
      <a href="#" class="w3-button w3-block w3-left-align">
        <i class="fa fa-eye fa-fw"></i>&nbsp&nbspRelatórios
      </a>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  {% block content %}
  

  <!-- End page content -->
  {% endblock %}
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
